{% extends "layout.html" %}
{% block content %}
<table class="table table-dark table-striped">
<form action="/edit/{{biostats.id}}" method="POST">
    <div class="column" >
        <div class="col" >
            <label for="Name">Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Name" name="Name" value="{{biostats.Name}}">
        </div>
        <div class="col" >
            <label for="Sex">Sex</label>
            <input id="Sex" type="text" class="form-control" placeholder="Sex"
                   name="Sex" value="{{biostats.Sex}}">
        </div>
        <div class="col" >
            <label for="Age">Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Age"
                   name="Age" value="{{biostats.Age}}">
        </div>
        <div class="col" >
            <label for="Height_in">Height_in</label>
            <input id="Height_in" type="text" class="form-control" placeholder="Height_in"
                   name="Height_in" value="{{biostats.Height_in}}">
        </div>
        <div class="col" >
            <label for="Weight_lbs">Weight_lbs</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="Weight_lbs"
                   name="Weight_lbs" value="{{biostats.Weight_lbs}}">
        </div>
    <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
</table>
{% endblock %}